input, label {
  display: block;
}

button {
  margin: 0.1rem;
}

.App {
  display: flex;
}
.controlPane {
  flex: 0 0 auto;
  padding: 1rem;
  margin-left: .5rem;
}

.speedSelector {
  margin-top: 1rem;
  border: 1px solid black;
}

.felt {
  display: flex;
  flex: 100 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.felt > * {
  margin: 0 0.5rem;
}

.card {
  align-content: center;
  justify-content: center;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}