.App {
  display: flex;
}

.card {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.controlPane {
  margin-left: .5rem;
}

.speedSelector {
  margin-top: 1rem;
  border: 1px solid black;
}

input, label {
  display: block;
}